My_workflow_4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -20
      ],
      "id": "c11b12b4-7139-4447-aa7b-79bda36070ae",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mQJtdMqEaI5OK0-YxbS7ZOC4IYp-u3CKgh3S2BbQdpo",
          "mode": "list",
          "cachedResultName": "Invoice Reminder Automation System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mQJtdMqEaI5OK0-YxbS7ZOC4IYp-u3CKgh3S2BbQdpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mQJtdMqEaI5OK0-YxbS7ZOC4IYp-u3CKgh3S2BbQdpo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -100,
        -20
      ],
      "id": "72662373-28ed-407d-ac82-9f5087eb9b66",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ChZc973ygyUBK3mP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dab6643-f29b-4467-8d94-9894a56b490f",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        -20
      ],
      "id": "f20425fe-6036-4a2a-831b-992ce1a27da4",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dear Client,\n\nThis is a gentle reminder that Invoice #{{ $json['Invoice No'] }} was due on {{ $json['Due Date'] }}.\nPlease complete the payment at your earliest convenience.\n\nThank you,\nShanmu\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        -120
      ],
      "id": "4f36e4b8-6d33-44e8-a52f-44924a32c097",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        380,
        100
      ],
      "id": "3f016697-e915-4395-a152-f9e342b0b61d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hDPK4ZdsWNrnfsxM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json['Client Email'] }}",
        "subject": "Reminder for Payment Invoice",
        "emailType": "text",
        "message": "=Dear Client,  \nThis is a gentle reminder that Invoice #{{ $('Google Sheets').item.json['Invoice No'] }} was due on{{ $('Google Sheets').item.json['Due Date'] }} . \n\nPlease complete the payment at your earliest convenience.  \n\nThank you,\nShanmu",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        -120
      ],
      "id": "f8b2abae-b06d-43b4-b9ed-1c7d4982af89",
      "name": "Gmail",
      "webhookId": "f0c23549-c3bd-4d3c-8fc2-282369e8f6fe",
      "credentials": {
        "gmailOAuth2": {
          "id": "IvLgpv2kheffxw0q",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa95d121-0154-4f69-90db-e8cf01a35a06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97e340adbc330ee6cfc5cd153d5d90bf4e591627cbd1cc8ec69bc4cec1161c73"
  },
  "id": "2KEbSVxE2ugLai9z",
  "tags": []
}